body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input {
  border-radius: 4px;
  width: 400px;
  padding: 6px;

}
.row {
  padding: 6px;
}

.row > span {
  width: 150px;
  display: inline-block;
  text-align: left;
}

textarea {
  width: 600px;
  height:  200px;
}